<section id="listareserva"  class="py-3">
    <div class="container">
        <h1 class="l-heading"><span class="text-primary">Habitacio</span>nes</h1>
        <% for (let i of allhabitaciones){ %>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <ul class="list-group1">
                        <h5 class="card-title">Datos de la habitacion</h5>
                        <li class="list-group-item">Numero:
                            <%= i.numero %>
                        </li>
                        <li class="list-group-item">Precio:
                            <%= i.precio %>
                        </li>
                        <li class="list-group-item">Cantidad max de personas:
                            <%= i.tipoHabitacion %>
                        </li>
                        <li class="list-group-item">Descripcion:
                            <%= i.descripcion %>
                        </li>
                        <li class="list-group-item">Descripcion:
                            <%= i.estado %>
                        </li>
                    </ul>
                </div>
            </div>
            <% } %>
    </div>
</section>











<section id="contact-info" class="bg-dark">
    <div class="container">
        <div class="box">
            <i class="fas fa-map-marker-alt fa-3x"></i>
            <h3>Ubicación</h3>
            <p>Buenos Aires 253 - Capital, </p>
            <p>La Rioja - Argentina</p>
        </div>
        <div class="box">
            <i class="fas fa-phone fa-3x"></i>
            <h3>Telefono</h3>
            <p>Cel. (54) 3804416133</p>
            <p>Fijo. 4427474</p>
        </div>
        <div class="box">
            <i class="fas fa-envelope fa-3x"></i>
            <h3>Email</h3>
            <p>libertadorhotel@hotmail.com</p>
        </div>
    </div>
</section>
